@use 'var';

.footer {
    background-color: #F8F8F8;
    padding-block: 63px 100px;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        max-width: 340px;
        display: flex;
        flex-direction: column;
        gap: 20px 0;

        &__social {
            margin-block: 10px;
            display: flex;
            gap: 0 20px;

            i {
                font-size: 16px;
                color: var.$color-primary;
                transition: .2s;
            }

            :hover {
                background-color: var.$color-primary;

                i {
                    color: #FFFFFF  ;
                    font-size: 18px;
                }
            }
        }

        &__copyrighted {
            color: #AFB5C0;
        }
    }

    &__content {
        margin-top: 3px;
        display: flex;
        gap: 0 126px;

        &__list {
            display: flex;
            flex-direction: column;
            gap: 10px 0;

            &__title {
                margin-bottom: 10px;
                font-weight: 500;
                font-size: 18px;
                line-height: 167%;
                color: var.$color-dark;
            }

            a {
                color: var.$color-text;

                &:hover {
                    color: var.$color-primary;
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .footer {
        &__content {
            margin-left: 50px;
            gap: 0 40px;
        }
    }
}

@media screen and (max-width: 512px) {
    .footer {
        &__container {
            flex-direction: column-reverse;
            gap: 60px 0;
        }

        &__content {
            margin-left: 0;
        }
    }
}