@use 'var';

.partners {
    padding-block: 40px;

    &__container {
        display: flex;
        justify-content: space-around;
        gap: 40px 0;
        flex-wrap: wrap;
    }

    &__logo {
        width: 190px;
        height: 60px;
        background-position: center;
        background-repeat: no-repeat;
    }
}